* {
  box-sizing: border-box;
}
body {
  background-color: #f3f5fc;
}
header img {
  margin-top: 30px;
  margin-left: 20px;
}

.inicio {
  margin-top: 30vh;
}

.principal {
  width: 317px;
  height: 114px;
  color: white;
  background-color: #0a3871;
  border-radius: 30px;
  font-size: 1.3rem;
  border: none;
}

.principal:hover {
  background-color: #072549;
}

.secundario {
  width: 280px;
  height: 67px;
  border-radius: 20px;
  font-size: 1rem;
  border: 1px solid #082c57;
  color: #082c57;
  background-color: #f3f5fc;
}

.secundario:hover {
  background-color: #e0e4f1;
}

.bloque {
  display: block;
  margin: 20px auto;
  font-family: "Inter", sans-serif;
}

.esconder{
  display: none;
}

.invisible {
  visibility:hidden;
}

.tablero{
  padding: 0;
  margin: auto;
  display: block;
}

.nuevoJuego{
  width: 280px;
  height: 67px;
  color: white;
  background-color: #0a3871;
  border-radius: 20px;
  font-size: 1rem;
  border: none;
}

.nuevoJuego:hover {
  background-color: #072549;
}
.desistir{
  width: 280px;
  height: 67px;
  border-radius: 20px;
  font-size: 1rem;
  border: 1px solid #082c57;
  color: #082c57;
  background-color: #f3f5fc;
}
.desistir:hover {
  background-color: #e0e4f1;
}

.comandos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.centro{
  margin:15px;
}


.canvasPrincipal{
  margin-bottom: 40px;
}

.letras {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letrasIndividuales{
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  color: #0A3871;
  width: 60px;
  text-align: center;
  margin-left: 6px;
  margin-right: 6px
}

.renglones{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.canvasSecundario{
  width:60px;
  height:4px;
  background-color: #0a3871;
  margin-left: 6px;
  margin-right: 6px;
}

.presionadas{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.letrasInvalidas{
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  color: #041b36;
}

.mensajeFinal{
  font-size:30px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  color: #ac0505;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-bottom: 10px;
}


.bto-guardar{
  width: 280px;
  height: 67px;
  color: white;
  background-color: #0a3871;
  border-radius: 20px;
  font-size: 1rem;
  border: none;
}
.bto-guardar:hover {
  background-color: #072549;
}

.bto-volver{
  width: 280px;
  height: 67px;
  border-radius: 20px;
  font-size: 1rem;
  border: 1px solid #082c57;
  color: #082c57;
  background-color: #f3f5fc;
}
.bto-volver:hover {
  background-color: #e0e4f1;
}

.botonesBase{
  display: flex;
  align-items: center;
  justify-content: center;
}

#palabraNueva{
  margin-top: 30px;
  width: 80vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
 
}
.contenedorTexto{
  display: flex;

}

textarea{
  font-family: "Inter", sans-serif;
  color: #0a3871;
  font-size: 30px;
  border: none;
  background-color: #f3f5fc;
  border-radius: 10px;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #0a3871;
}

#exclamacion {
  position: relative;
  top: 2px;
  margin-right: 5px;
  margin-left: 10vw;
  margin-top: 20px;
}

.errores{
  height: 60px;
  text-align: center;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}